.required-asterisk{
	color: red;
	font-weight: bold;
	margin-left: 1px;
	font-size: 1.5em;
}

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    text-align:center;
    border-radius: 8px;
    cursor: pointer;
    float: right;
  }
  
  input[type=reset] {
    background-color:green;
    color: white;
    padding: 12px 20px;
    text-align:center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type=reset]:hover {
    background-color: #45a049;
  }

  .col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
    /* padding: 50px; */
    /* padding-left: 50px; */
  }
  
  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  .col-80 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header {
    background-color: rgb(252, 223, 3); 
    font-family:sans-serif;   
    text-align: center;
    /* border: 1px solid #000000;
    border-style: solid;
    box-shadow: 5px 10px; */
    padding: 10px;
    height: 5%;
  }
  
  .header2 {
    background-color: #FFCC33;    
    text-align: center;
  }
  